* {
    box-sizing: border-box; 
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: aqua;
    height: 600px;
    padding: 200px;
}


#quizStarter {     
    font-style: bold; 
}


.button {
    padding: 5px;
    color: black;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 3px gray;
    background-color: greenyellow;
}

.buttonChoices {
    padding-top: 10px;
    padding-bottom: 15px;
}