* {
    box-sizing: border-box; 
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: url("Background.jpg") #77E6FF;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

#quizStarter {
    margin: 400px auto;
    padding-top: 30px;
    width: 700px;       
    color:white;
    font-style: bold; 
}



.startButton {
    color: black;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5%;

}


.incorrect {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.wrongAnswer {
    margin-top: 7%;
}


.correct {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.correctAnswer {
    margin-top: 7%;
}

.Andy {
    height: 500px;
    width: 600px;
}